# envs

gym
gym[classic_control]
#gym[atari]
blackhc.mdp

# algorithms

#stable_baselines
#baselines not suitable library

#chainerrl not professional
#tensorforce maybe
#garage maybe

#tensorflow (gpu eventually)
#keras-rl
#h5py
#pillow

