# envs

gym
gym[classic_control]
#gym[atari]
blackhc.mdp

# algorithms

#openai/baseline too complex for now
#chainerrl not professional
#tensorforce maybe
#garage maybe

#tensorflow (gpu eventually)
keras-rl
h5py
pillow

